<div class="center" *ngIf="!multiUpload">
  <ngx-file-drop dropZoneLabel="Datei hier ..." (onFileDrop)="dropped($event)"
                 [multiple]="true"
                 accept=".mp3"
                 [directory]="false">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <div class="drop-container">
        <span>Drop</span>
        <button type="button" (click)="openFileSelector()">Browse</button>
      </div>
    </ng-template>
  </ngx-file-drop>
</div>

<app-batch-upload #batchUploadComponent [uploadFileComponent]="this" *ngIf="multiUpload"></app-batch-upload>
