<mat-toolbar color="primary">
  <span>wastedtime.se - Soundboard</span>
  <span class="spacer"></span>

  <button (click)="showBotControl()" [disabled]="(health|async)?.status === status.OFFLINE" color="primary"
          mat-raised-button>Bot Control
  </button>

  <span class="spacer"></span>
  {{(health | async)?.status}}
</mat-toolbar>

<mat-progress-bar *ngIf="loading" color="warn" mode="query"></mat-progress-bar>

<form [formGroup]="filterForm" autocomplete="off" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search files ...</mat-label>
    <input class="filter-input"
           formControlName="inputFilter"
           matInput
           placeholder="Search file ..."
           type="text"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
    <button mat-button matSuffix mat-icon-button (click)="filterForm.controls.inputFilter.reset('')">
      <mat-icon class="close-button">close</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab *ngFor="let data of tabData" [label]="data.category | uppercase">
    <div class="mat-elevation-z8">
      <ng-container>

        <table [dataSource]="data.dataSource" mat-table matSort>

          <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header style="width: 10%">Name</th>
            <td *matCellDef="let row" mat-cell style="width: 10%">{{row.name}}</td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
            <td *matCellDef="let row" mat-cell>{{row.description}}</td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th *matHeaderCellDef mat-header-cell mat-sort-header style="width: 10%">Duration</th>
            <td *matCellDef="let row" mat-cell style="width: 10%">{{row.duration}} seconds</td>
          </ng-container>

          <ng-container matColumnDef="play">
            <th *matHeaderCellDef mat-header-cell style="width: 5%">Play</th>
            <td *matCellDef="let row" mat-cell style="width: 5%">
              <button (click)="playFile(row)" color="warn" mat-mini-fab>
                <mat-icon>play_arrow</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="playLocal">
            <th *matHeaderCellDef mat-header-cell style="width: 5%">Lokal wiedergeben</th>
            <td *matCellDef="let row" mat-cell style="width: 5%">
              <app-local-audio-control [audio]="row"></app-local-audio-control>
            </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th *matHeaderCellDef mat-header-cell style="width: 5%">Editieren</th>
            <td *matCellDef="let row" mat-cell style="width: 5%">
              <button mat-icon-button (click)="openSettings(row)" color="primary">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>

          </ng-container>

          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>

          <tr *matNoDataRow class="mat-row">
            <td class="mat-cell" colspan="4">No data matching the filter "{{filterForm.controls.inputFilter.value}}"
            </td>
          </tr>
        </table>

        <mat-paginator showFirstLastButtons="true" [id]="data.category"
                       [pageSizeOptions]="[10, 25, 100, data.filesCount]"></mat-paginator>
      </ng-container>
    </div>
  </mat-tab>
</mat-tab-group>


