@import "theme";

.container {
  width: 700px;
}

.tag-list {
  width: 100%;
}

.description {
  display: flex;
  margin-bottom: 1rem;
}

.action-container {
  display: flex;

  button:nth-child(2) {
    margin-left: auto;
  }
}

.category {
  margin-bottom: 1rem;
}

.mat-chip.primary {
  background-color: mat-color($web-app-primary) !important;
}

.mat-chip.green {
  background-color: mat-color($web-app-green) !important;
}

.mat-chip.light-green {
  background-color: mat-color($web-app-light-green) !important;
}

.mat-chip.orange {
  background-color: mat-color($web-app-orange) !important;
}
