@import "theme";

table {
  width: 1000px;
}

::ng-deep .mat-form-field-flex {
  background: unset !important;
}

.action-container {
  display: flex;

  button:nth-child(2) {
    margin-left: auto;
  }
}

.mat-chip.primary {
  background-color: mat-color($web-app-primary) !important;
}

.mat-chip.green {
  background-color: mat-color($web-app-green) !important;
}

.mat-chip.light-green {
  background-color: mat-color($web-app-light-green) !important;
}

.mat-chip.orange {
  background-color: mat-color($web-app-orange) !important;
}
